
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <title>Mẹo vặt</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0″>
    <style type="text/css">
     #main #right{
 	margin-top: 380px;
}
#main #right ul{
  margin: 0px;
  padding: 0px;
}
#main #right ul li{
  list-style: none;
  clear: left;
  border-bottom: 2px solid #ccc;
  float: left;
  margin-bottom: 20px;
}
#main #right ul li img {
  float: left;
  width: 100px;
  margin-bottom: 20px;
  margin-right: 10px;
}
#main #right ul li h2{
  font-size: 16px;
  margin-top: 0px;
 }
	</style>
</head>
<body>
	<div class = "nagivation">
                            <nav class="navbar navbar-inverse navbar-fixed-top" style="background: black">
                              <div class="navbar-header">
                        
                                <a class="navbar-brand" href="#">Food for Family</a>
                              </div>
                              <div class="collapse navbar-collapse" id="myNavbar">
                                <ul class="nav navbar-nav">
                                <li><a href="#" >Trang chủ</a></li>
                                <li class= "dropdown"><a data-toggle="dropdown" href="#">Công thức nấu ăn <span class="caret"></span></a>
                                  <ul class="dropdown-menu">
                                    <li><a href="C:\Users\Admin\Documents\test\a.html">Loại món</a></li>
                                    <li><a href="">Cách chế biến</a></li>
                                    <li><a href="C:\Users\Admin\Documents\test\b.html">Thành phần </a></li>
                                    <li><a href="C:\Users\Admin\Documents\test\c.html">Văn hóa</a></li>
                                  </ul>
                                </li>
     
                                  <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Thực đơn dinh dưỡng <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                  <li><a href="#">Ăn chay</a></li>
                                  <li><a href="#">Tốt cho tim mạch</a></li>
                                  <li><a href="#">Giảm cân</a></li>
                                  <li><a href="#">Tăng cân</a></li>
                                    </ul>
                                  </li>
                                  <li><a href="#">Mẹo vào bếp</a></li>
                                </ul>


                          <div class="nav navbar-nav navbar-right">
                            
                              <button type="submit" class="btn" style="margin-top: 10px;margin-right: 30px">Đăng nhập</button>
                          </div>

                          </div>
                        </nav>
                    </div>
	</div>
	<div class = " container ">
		<div class="col-md-3" style="background: #F0F7DA;margin-top: 55px; height: 600px; ">
                
                  <form action="/action_page.php">
      <input type="text" placeholder="Tìm kiếm..." name="search" style="width: 250px;height: 40px;margin-top: 20px;border-radius: 5px">
      
    </form>
                  <div class = "menu" style="font-size: 17px">
                  	<ul><h3>Mẹo vào bếp</h3>
                  		

                  	</ul>
                  </div>
    </div>
    <div class = "col-md-9" id = "grid-1" style="grid-template-rows: auto auto;">
    	<div class="top">
    	<div class="col-md-4">
    		<section>
                    <img src="C:\Users\Admin\Documents\logo.png" style="width: 300px;height: 300px;margin-top: 55px"  >
            </section>
    	</div>
    	<div class="col-md-8">
    		<aside style="margin-top: 55px;margin-left: 20px">
                     
                    <div id="myCarousel" class="carousel slide" data-ride="carousel" >
  
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
  </ol>

  
  <div class="carousel-inner">
    <div class="item active">
      <img  src="http://asahisushi.vn/data/media/1249/images/3.jpg"   style="width:800px;height: 300px" alt="Los Angeles" >
    </div>

    <div class="item">
      <img src="https://lavenderstudio.com.vn/wp-content/uploads/2017/08/chup-hinh-mon-an-2.jpg" style="width: 800px;height: 300px" alt="Chicago" >
    </div>

    <div class="item">
      <img src="https://media.laodong.vn/storage/newsportal/2018/1/12/586150/Trua-Nay-An-Gi.jpg" style="width: 800px;height: 300px" alt="New York">
    </div>
    <div class="item">
      <img src="https://toptentravel.com.vn/wp-content/uploads/2019/03/mon-an-duong-pho-hap-dan-nhat-seoul-2.jpg" style="width: 800px;height: 300px" alt="New York">
    </div>
    <div class="item">
      <img src="https://lavenderstudio.com.vn/wp-content/uploads/2017/01/chup-san-pham.jpg" style="width: 800px;height: 300px" alt="New York">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
      </aside>
    	</div>
    </div>
    <div id="main" >
         <div id="right">
         	<hr color="red" width="80%"  size="10"> 
      		<div class = "Meo" style="bottom: auto;text-align: center"><h3>Những lỗi chế biến hay gặp mà bạn nên biết</h3></div>
      		<h4>1. Trộn</h4>
      		<p>Trừ một số món bắt buộc bạn phải trộn thật nhanh và mạnh đến mức dẻo mịn thì tùy vào từng món ăn mà có cách nhồi bột hay trộn ở mức độ phù hợp. Với một số món như salad thì các bạn hãy trộn vừa phải để tránh tình trạng rau củ nát sẽ khiến món ăn mất đi vẻ đẹp vốn có.
      		</p>
      		<img src="http://sotaynauan.com/wp-content/uploads/2018/02/nhung-loi-che-bien-thuc-an-hay-gap-buoc-1.jpg" style="width: 500px;display: block; margin-left: auto;margin-right: auto">
      		<h4>2. Xào xới</h4>
      		<p>Chắc chắn là món thịt hầm sẽ trông tuyệt vời và hấp dẫn hơn nếu như bạn ngừng ngay việc xào xới tung lên. Các bạn hãy canh nhiệt độ thật chuẩn, trang trí thật bắt mắt để ngay sau khi lấy ra khỏi lò nướng, để nguội một chút là bạn đã có ngay món ăn hấp dẫn như là món Casseroles (Bánh thịt nướng sữa).</p>
      		<img src="http://sotaynauan.com/wp-content/uploads/2018/02/nhung-loi-che-bien-thuc-an-hay-gap-buoc-2.jpg" style="width: 500px;display: block; margin-left: auto;margin-right: auto">
      		<h4>3. Cắt lát thịt</h4>
      		<p>Các bạn hãy thử tưởng tượng bạn đang cắt một lát bít tết, nhìn vào bề mặt của nó và bạn sẽ thấy một số sợi gân chạy dọc, hãy khéo léo cắt cho đúng để tránh tình trạng thịt nát, lát thịt trở nên mềm mại, ngon mắt hơn. Trước khi thái các bạn nên xác định thớ thịt cho đúng để khi thái không bị dai và miếng thịt cũng đẹp mắt hơn.</p>
      		<img src="http://sotaynauan.com/wp-content/uploads/2018/02/nhung-loi-che-bien-thuc-an-hay-gap-buoc-4.jpg" style="width: 500px;display: block; margin-left: auto;margin-right: auto">
      		<h4>4. Sử dụng dao không bén</h4>
      		<p>Thật sự rất khó chịu khi sử dụng một con dao không bén để cắt gọt thực phẩm. Nó làm món ăn trở nên xấu xí vô cùng và làm bạn cảm thấy vô cùng bất tiện trong khi chế biến, cắt gọt.</p>
      		<img src="http://sotaynauan.com/wp-content/uploads/2018/02/nhung-loi-che-bien-thuc-an-hay-gap-buoc-3.jpg" style="width: 500px;display: block; margin-left: auto;margin-right: auto">
      		<h4>5. Đặt thức ăn ướt vào chảo</h4>
      		<p>Với một số món ăn bạn không nên để ướt khi cho vào chảo, tuy nhiên với một số món đặc biệt như cá chiên thì đây là điều bắt buộc để tránh tình trạng dầu văng. Bên cạnh đó các bạn cũng có thể chọn cách lau khô thực phẩm trước khi chế biến để không bị văng dầu mỡ hay món ăn tự khô héo đi.</p>
      		<img src="http://sotaynauan.com/wp-content/uploads/2018/02/nhung-loi-che-bien-thuc-an-hay-gap-buoc-10.jpg" style="width: 500px;display: block; margin-left: auto;margin-right: auto">
      		<p style="margin-bottom: 50px">Với những lỗi chế biến hay gặp đã được liệt kê ở trên, mong rằng các bạn sẽ tránh được để tạo ra những món ăn ngon miệng, đẹp mắt hơn</p>
    	</div>
          </div>
    </div>
	</div>

	<footer class="container text-center" style="background: #cccccc">
        <p>Footer Text</p>
      </footer>
</body>
</html>